# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
env/
env.py

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# Pytest
.cache/

# PyCharm
.idea/

# System files
Thumbs.db
Desktop.ini

# dotenv
.env
.env.*