# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
env/
env.py

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# Pytest
.cache/

# PyCharm
.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# System files
Thumbs.db
Desktop.ini

# dotenv
.env
.env.*

# Static files
static/css/dist
static/css/output.css
static/css/output.css.map
/staticfiles/

# Exclude static root but allow specific subdirectories
/static/*
!/static/audio/
!/static/images/
!/static/js/

# Allow theme static files
!theme/static/css/dist/
!/selector/static/selector/audio/