{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <title>Noise Machine</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=TASA+Orbiter:wght@400..800&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="{% static 'images/favicon.ico' %}"
            type="image/x-icon"
        />
</head>
<body class="min-h-screen flex flex-col">
    <nav
        class="navbar bg-base-200 px-4 py-2 flex justify-end items-center mb-4"
        >
            <div class="flex items-center space-x-4">
                <a
                    href="{% url 'selector:index' %}"
                    class="btn btn-ghost normal-case text-xl"
                    >Home</a
                >
                <a href="{% url 'selector:selector' %}" class="btn btn-ghost"
                    >Selector</a
                >
                <a href="{% url 'selector:mixer' %}" class="btn btn-ghost">
                    Mixer
                </a>
                <a
                    href="{% url 'account_login' %}"
                    class="btn btn-ghost"
                    >Login</a
                >
                <input
                    type="checkbox"
                    id="theme-toggle"
                    name="theme-select"
                    value="light"
                    value="dark"
                    class="toggle theme-controller"
                />
                <label for="theme-select" class="ml-2 text-sm"></label>
            </div>
        </nav>
<main class="flex-1">
{% block content %} {% endblock %}
</main>
<!-- Footer -->
<footer class="bg-base-200 py-4">
        <div class="flex justify-center space-x-8">
            <a href="#" rel="noopener" class="text-blue-600 text-xl"
                ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="#" rel="noopener" class="text-green-600 text-xl"
                ><i class="fa-brands fa-spotify"></i
            ></a>
            <a href="#" rel="noopener" class="text-red-600 text-xl"
                ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="#" rel="noopener" class="text-black text-xl"
                ><i class="fa-brands fa-x-twitter"></i
            ></a>
        </div>
    </div>
</footer> 

<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
