{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Django-Setup</title>

        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link
            rel="shortcut icon"
            href="{% static 'images/favicon.ico' %}"
            type="image/x-icon"
        />

        {% block extra_js %}{% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <!-- Navbar -->
        <nav
            class="navbar bg-base-200 px-4 py-2 flex justify-between items-center"
        >
            <div class="flex items-center space-x-4">
                <a
                    href="{% url 'selector:home' %}"
                    class="btn btn-ghost normal-case text-xl"
                    >Home</a
                >
                <a href="{% url 'selector:selector' %}" class="btn btn-ghost"
                    >Selector</a
                >
                <input
                    type="checkbox"
                    value="synthwave"
                    class="toggle theme-controller"
                />
            </div>
        </nav>
        <main class="flex-1 container mx-auto px-4 py-6">
            <h1>are we there yet?</h1>
            {% block content %} {% endblock %}
        </main>
        <!-- Footer -->
        <footer class="bg-base-200 py-4 mt-auto">
            <div class="flex justify-center space-x-8">
                <a href="#" rel="noopener" class="text-blue-600 text-xl"
                    ><i class="fa-brands fa-facebook"></i
                ></a>
                <a href="#" rel="noopener" class="text-green-600 text-xl"
                    ><i class="fa-brands fa-spotify"></i
                ></a>
                <a href="#" rel="noopener" class="text-black text-xl"
                    ><i class="fa-brands fa-x-twitter"></i
                ></a>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    </body>
</html>
