{% load static %}

<!DOCTYPE html>
<html lang="en" id="data-theme" style="scroll-behavior: smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Django-Setup</title>

        {% comment %}
        <script src="https://cdn.tailwindcss.com"></script>
        {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=TASA+Orbiter:wght@400..800&display=swap"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="{% static 'images/favicon.ico' %}"
            type="image/x-icon"
        />
    </head>
    <body id="data-theme" class="flex flex-col min-h-screen">
        <!-- Navbar -->
        <nav
            class="navbar bg-base-200 px-4 py-2 flex justify-end items-center mb-4"
        >
            <div class="flex items-center space-x-4">
                <a
                    href="{% url 'selector:home' %}"
                    class="btn btn-ghost normal-case text-xl"
                    >Home</a
                >
                <a href="{% url 'selector:selector' %}" class="btn btn-ghost"
                    >Selector</a
                >
                <a href="{% url 'account_login' %}" class="btn btn-ghost"
                    >Login</a
                >
                <input
                    type="checkbox"
                    id="theme-toggle"
                    name="theme-toggle"
                    value="synthwave"
                    class="toggle theme-controller"
                />
                <label for="theme-toggle" class="ml-2 text-sm"></label>
            </div>
        </nav>
        <main class="flex-1 max-w-7xl mx-auto px-4 py-6">
            {% block content %} {% endblock %}
        </main>
        <!-- Footer -->
        <footer class="bg-base-200 py-4 mt-auto">
            <div class="flex flex-col items-center space-y-4">
                <nav>
                    <select
                        id="theme-select"
                        class="select select-bordered theme-controller"
                        data-choose-theme
                    >
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                        <option value="cupcake">Cupcake</option>
                        <option value="bumblebee">Bumblebee</option>
                        <option value="emerald">Emerald</option>
                        <option value="corporate">Corporate</option>
                        <option value="synthwave">Synthwave</option>
                        <option value="retro">Retro</option>
                        <option value="cyberpunk">Cyberpunk</option>
                        <option value="valentine">Valentine</option>
                        <option value="halloween">Halloween</option>
                        <option value="garden">Garden</option>
                        <option value="forest">Forest</option>
                        <option value="aqua">Aqua</option>
                        <option value="lofi">Lofi</option>
                        <option value="pastel">Pastel</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="wireframe">Wireframe</option>
                        <option value="black">Black</option>
                        <option value="luxury">Luxury</option>
                        <option value="dracula">Dracula</option>
                        <option value="cmyk">CMYK</option>
                        <option value="autumn">Autumn</option>
                        <option value="business">Business</option>
                        <option value="acid">Acid</option>
                        <option value="lemonade">Lemonade</option>
                        <option value="night">Night</option>
                        <option value="coffee">Coffee</option>
                        <option value="winter">Winter</option>
                    </select>
                </nav>
                <div class="flex justify-center space-x-8">
                    <a href="#" rel="noopener" class="text-blue-600 text-xl"
                        ><i class="fa-brands fa-facebook"></i
                    ></a>
                    <a href="#" rel="noopener" class="text-green-600 text-xl"
                        ><i class="fa-brands fa-spotify"></i
                    ></a>
                    <a href="#" rel="noopener" class="text-red-600 text-xl"
                        ><i class="fa-brands fa-instagram"></i
                    ></a>
                    <a href="#" rel="noopener" class="text-black text-xl"
                        ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
    </body>
</html>
